table{
    border-collapse: collapse;
}

tr, td, th{
    border: 1px solid silver;
    padding: 7px;
    font-size: 1em;
}

th{
    background-color: antiquewhite;
}

.numeroRegistros{
    text-align: left;
    color: black;
}